.body {
    
    text-align: center;
    padding:10px;
    font-weight:500;
    background-image: url(/assets/images/texture.jpg);
    
    
    &__main {
        margin-top:30px;
        
        @mixin atLarge {
            width:800px;
            margin:30px auto;
        }
        
        @mixin atLarger {
            width:900px;
        }
    
        &__main-1 {
            margin:0 0 20px 0;
            padding:10px;
            background:white;
            
            
            @mixin atMedium {
                width:500px;
                padding:20px;
                margin:0 auto;
            }
            
            @mixin atLarge {
                margin:0 30px 0 0;
                width:500px;
                float:left;
            }
            
            @mixin atLarger {
                width:650px;  
            }
        }
        
        &__main-side {
            padding:10px;
            display:inline-block;
            padding:20px;
           
            @mixin atLarge {
                float:left;
            }
        }
        
    }
    
    &__screen {
        
        background:rgba(0,0,0,0);
        transition:background .2s ease-out;
        
        &--is-visible {
            position:absolute;
            top:0;
            left:0;
            background:rgba(0,0,0,.5);
            width:100%;
            height:100%;
        }
    }
    
    /*------PRESETS--------*/
    .h1 {
        font-size:25px;
        font-weight:600;
        text-transform: uppercase;
    }
    
    .p {
        @mixin atMedium {
            line-height:25px;
        }
        @mixin atLarge {
            line-height:30px;
        }
    }
    
    .no-cent {
        text-align:left;
    }
    
}