.mobile-menu {

    &__menu-content {
        position:absolute;
        top:-280px;
        z-index:2;
        background:white;
        text-align:center;
        width:100%;
        padding:20px;
        transition:top .2s ease-out;
        
        &--is-visible {
            top:40px;
        }
        
        @mixin atLarge {
            display:none;
        }
        
        &__li {
            list-style:none;
            border-bottom:1px solid #999;
            
            &:last-child {
                border-bottom:none;
            }
        }
        
        &__a {
            text-decoration: none;
            display:block;
            padding:10px 0;
            color:black;
        }
        
        
    }
    
    &__menu-icon {
        position:absolute;
        z-index:3;
        top:8px;
        left:47%;
        height:23px; 
        width:30px;
        
        @mixin atLarge {
            display:none;
        }
        
        
        &::before {
            content:'';
            position:absolute;
            z-index:2;
            height:3px;
            width:100%;
            background:black;
        }
        
        &__middle {
            position:absolute;
            top:10px;
            z-index:2;
            height:3px;
            width:100%;
            background:black;
        }
        
        &::after {
            content:'';
            position:absolute;
            height:3px;
            width:100%;
            background:black;
            bottom:0;
            z-index:2;
        }
    }
    
}