.nav { 
    width:100%;
    
    &__menu-content {
        display:none;
        border:1px solid black;
        padding:10px;
            
        @mixin atMedium {
            display:block;
        }
    

        &__links {
            text-decoration: none;
            float:left;
            color:black;
            padding:7px 10px;
            border-right:1px solid black;
        }
        
        &__li {
            list-style:none;
            float:left;
        }

        &__links:hover {
            background-color:black;
            color:white;
        }
    }
    
}